# Python stuff
__pycache__

# Electronics
electronics/crabsy_electronics/crabsy_electronics-backups
electronics/crabsy_electronics/#auto_saved_files#
electronics/crabsy_electronics/~crabsy_electronics.kicad_sch.lck